[tool.poetry]
name = "amdfan"
version = "0.1.5"
description = "Fan monitor and controller for AMD gpus in Linux"
authors = ["mcgillij <mcgillivray.jason@gmail.com>"]
license = "GPL-2.0-only"
readme = "README.md"
homepage = "https://mcgillij.dev/pages/amdfan.html"
repository = "https://github.com/mcgillij/amdfan"
documentation = "https://mcgillij.dev/pages/amdfan.html"
keywords = ["fan", "gpu", "temp", "monitor", "amd"]
classifiers = [
    "Environment :: Console",
    "Environment :: GPU",
    "Intended Audience :: End Users/Desktop",
    "Natural Language :: English",
    "Operating System :: POSIX :: Linux",
    "Topic :: System :: Boot :: Init",
    "Topic :: System :: Hardware",
    "Topic :: System :: Monitoring",
    "Topic :: Utilities",
]

include = [ "LICENSE", ]

[tool.poetry.dependencies]
python = "^3.7 || ^3.8 || ^3.9"
numpy = "^1.20.1"
PyYAML = "^5.4.1"
rich = "^9.10.0"
click = "^7.1.2"

[tool.poetry.dev-dependencies]
ipython = "^7.20.0"
pylint = "^2.6.0"
flake8 = "^3.8.4"
black = "^20.8b1"
pytest = "^6.2.2"

[tool.poetry.scripts]
amdfan = 'amdfan.amdfan:cli'

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
